.half-a-border {
    /* border-top: 5px solid;
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
    
    border-left: 5px solid;
    border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1; */
  }